.container {
    width: 900px;
    margin: 0 auto;
    padding: 3px;
    background-color: rgb(253,248,190);
}

.header img {
    width: 260px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}


/* шапка и кнопки(button) */
.header {
    border: 3px solid orange;
    background-color: rgb(250, 189, 30);
    font-weight: 900;
    height: 270px;
}
.header p{
    color: blue;
    font-size: 19px;
    margin-left: 325px;
    margin-top: 100px;
}
.menu {
    float: right;
    margin-right: 40px;
    margin-top: 80px;
}
.menu a, .button {
    width: 170px;
    height: 22px;
    text-align: center;
    border: 2px solid blue;
    color: blueviolet;
    /*text-decoration: none;*/
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
    background-color: #ccc;
    display: inline-block;
}
.menu a:hover, .button:hover {
    color: chartreuse;
}
.menu a:active, .button:active {
    color: crimson;
}


/* фон на всех страницах */
body {
    background-color: #fefee5;
}


/*Стили для страниц товаров каталога*/
.content {
    clear: both;
}
.content a {
    float: left;
    margin: 1px 30px 20px 5px;
}
.content a img, .links a img {
    outline: 2px solid rgb(1,177,177);
    width: 200px
}
.content img:hover, .links img:hover {
    outline: none;
}
.content .list {
    overflow: hidden;
}
/*Список: характеристики товара каталога*/
.list > li {
    list-style-image: url(../img/checkmarks/145.png);
}
/*Фото асортимента товаров на странице товара каталога*/
.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    clear: both;
}


/*Каталог*/
.catalog {
    margin-left: 10px;
}
.catalog div{
    display: inline-block;
    margin-right: 40px;
}
.catalog a img {
    outline: 2px solid rgb(0,174,173);
}
.catalog a img:hover {
    outline:  2px solid blueviolet;
}


/*Списки на "главной" и в "контактах"*/
.main_list {
    list-style-image: url(../img/checkmarks/145.png);
}
.list_2 {
    list-style-image: url(../img/checkmarks/7.png);
}


/*Стили форм обратной связи, на странице "контакты"*/
form {
    width: 430px;
    height: auto;
    text-align: center;
    padding: 3px 1px 10px 1px;
    background-color: rgb(220,220,150);
}
form p {
    font-size: 18px
}
form, form input[type="text"], #comment {
    border: 2px solid yellow;
    border-radius: 10px;
}
/* Размеры полей ввода на стр. contacts */
form input[type="text"] {
    width: 250px;
    line-height: 20px;
    text-transform: capitalize;
}
form input[placeholder],
#comment {
    background-color: #fffb;
    color: #930;
    /* Цвет текста */
    text-align: center;
    font-size: 11px;
    font-style: oblique;
}
form input[placeholder="ВАШ E@MAIL"]:focus {
    background-color: burlywood;
    color: aquamarine;
}




/*Все ссылки без подчёркивания*/
A {
    text-decoration: none;
}


.text::first-letter {
    font-size: 22px;
    color: rgb(108,2,94);
}


/*Картинка и слоган на главной*/
.top img {
   float: left; 
   outline: 5px solid orange;
   margin: 10px 90px 10px 3px; 
}
.top .slogan {
    padding-top: 170px;
}
.top .slogan span {
    font-size: 26px;
    display: block;
    color: #5f8cf7;
    font-style: oblique;
}




.footer {
    height: 100px;
    background-color: rgb(255,226,170);
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}


/*Стили для таблиц*/
.specifications {
    width: 500px;
    height: 200px;
    border: 2px solid #000;
    border-collapse: collapse;
}
.specifications td {
    border: 2px solid #000;
    text-align: center;   
}
.specifications td[rowspan="3"] {
    vertical-align:bottom;
    padding-bottom: 22px;
}
.table {
    width: 500px;
    height: 200px;
    border: 2px solid #000;
    border-collapse: collapse;
    margin-top: 20px;
}
.table td {
    border: 1px solid #000;
    text-align: center
}
.table td[colspan="5"] {
    height: 25px;
    border: 2px solid #000;
}
caption {
    text-align: left;
    padding-left: 5px;
}



